.grid{

    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    gap: 5px
    height 90vh
}

header, footer{
    grid-column: 1/4;
}

header, aside, article, footer{
    border-style: solid;
    background: #9db1eb;

}

body {
    margin: 5px;
    padding: 5px;
    background: #9db1eb;
    style="font-family: Georgia, 'Times New Roman', Times, serif;"
  }

  h1{
    style="font-family: Georgia, 'Times New Roman', Times, serif;" 
    style="font-size: large;" 
  }


div{
    style="font-family: Georgia, 'Times New Roman', Times, serif;"
    style="font-size: medium;"
}

p{
    margin: 5px;
    padding: 5px;
    height: 200px;
    width: 300px;
}



.mainPhoto{ 
    margin: 0;
    padding: 5px;
    height: 200px;
    width: 300px;
}