body {
    margin: 5px;
    padding: 5px;
    background: #047e33;
    style="font-family: Georgia, 'Times New Roman', Times, serif;"
  }


div{
    style="font-family: Georgia, 'Times New Roman', Times, serif;"
}



.mainPhoto{ 
    margin: 0;
    padding: 5px;
    height: 200px;
    width: 300px;
}