.grid{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    gap: 5px
    height 90vh
}

header, footer{
        grid-column: 1/4;
}

header, article, footer{
    border-style: solid;
    background: #52c7e4;
    font-size: 2em;

}

aside{

    font-size: small
}
  

p{
    margin 5px;
    padding: 5px;
    height: 200px;
    width: 300px;
}

.mainPhoto{ 
    margin: 0;
    padding: 5px;
    height: 200px;
    width: 300px;
}


